<div class="header">
  <img
    [routerLink]="['/']"
    src="https://cdn-icons-png.flaticon.com/128/562/562729.png"
    alt="LOGO">
  <ng-container *ngIf="info | async as inf">
    <div class="header_info" *ngFor="let i of inf">
      <div class="header_info-item">
        <div class="image_address">

          <img src="https://cdn-icons-png.flaticon.com/128/1198/1198464.png" alt="">

        </div>
        Address: {{i.address}}
      </div>
      <div class="header_info-item">
        <img src="https://cdn-icons-png.flaticon.com/128/2971/2971416.png" alt="">
        Phone: {{i.phone}}
      </div>
      <div class="header_info-item">
        <img src="https://cdn-icons-png.flaticon.com/128/747/747982.png" alt="">
        WIFI: {{i.wifi}}
      </div>
    </div>
  </ng-container>

  <div class="login">
    <a
      [routerLink]="'/admin'"
      href=""><img src="https://cdn-icons-png.flaticon.com/128/1000/1000946.png" alt=""
    ></a>
  </div>
</div>

<nav class="header_nav">
  <div class="menu">
    <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="nav">
    <ng-container *ngIf="categories | async as names">
      <button mat-button *ngFor="let cat of names" (click)="onSelectCategory(cat.id)">{{cat.categoryName}}</button>
    </ng-container>
  </div>
</nav>



