
.footer{
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 200px;
  padding-top: 50px;
  padding-bottom: 25px;
  align-items: end;
  background: rgba(168, 163, 163, 0.3);
}

.footer a {
  text-decoration: none;
  color: white;
}

.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 9999;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 30px;
  color: #ffffff;
  cursor: pointer;
  border: solid 1px grey;
  border-radius: 2px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  font-size: 30px;
}

.back-to-top img{
  width: 20px;
  border-radius: 50%;
  transform: rotate(270deg);
}
