
<div class="title"><span>MENU</span></div>

<h1 class="category_name"> {{(category | async)?.categoryName }}</h1>

<div class="slider">

  <ng-container *ngIf="clientDishes | async as dish; else loading">
    <mat-card class="dish-card" *ngFor="let d of dish">
      <mat-card-header>
        <mat-card-title>{{d.dishName}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{d.image}}" alt="Photo of dish">
      <mat-card-content>
        <p class="mat_card_item">{{d.dishWeight}} - ${{d.dishPrice}}</p>
        <p>{{d.dishDescription}}</p>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
