
.slider {
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.available {
  opacity: 0.5;

}

.dn {
  display: none;
}


.readOnly {
  pointer-events: none;
}

.editedField {
  background: transparent;
  border: 0;
}

.editedField:focus {
  outline: none;
}

.title {
  color: white;
  margin-left: 50px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;

}

.catToggle {
  margin-left: 50px;
  color: white;
}

.mat-card-image {
  border-radius: 5%;
  width: 200px;
  margin-right: 30px;
}

.dish-card {
  max-width: 98%;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  width: 98%;
  height: 200px;
  background-image: url("https://wallpaperaccess.com/full/967780.jpg");
  background-size: cover;
  border-radius: 10px;
}

.dish_title {
  font-size: 30px;
  color: white;
}

.mat-card-header {
  display: flex;
  justify-content: space-between;
}

.mat_card_content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  padding-right: 20px;
  padding-right: 20px;
}

.mat_card_input {
  font-size: 24px;
  color: white;
  width: 100%;
  resize: inherit;
  overflow: hidden;
  height: 100%;
}

@media only screen and (max-width: 960px) {
  .dish-card {
    max-width: 95%;
    width: 95%;
    height: 30%;
    margin: 10px;
    padding: 5px;
    justify-content: space-between;
  }

  .dish_title {
    font-size: 12px;
    margin-left: 0;
    margin-bottom: 5px;
    font-weight: 300;
    width: 50px;
  }

  .mat-button{
    font-size: 10px;
  }

  .mat_card_input {
    color: white;
    font-size: 10px;
  }

  .mat-card-image {
    width: 100px;
    height: 80px;
    margin: 0;
  }


}

