
<ng-container *ngIf="category | async as category">


<button
  mat-button
  class="btn_add"
  (click)="createCategory()"
>ADD CATEGORY</button>
<button
  mat-button
  color="warn"
  (click)="removeCategory(category.id)"
>REMOVE CATEGORY</button>

<div class="top">
<h1
  class="title"
>{{category.categoryName}}</h1>
<mat-slide-toggle
  size="small"
  [color]="color"
  [checked]='isCategoryAvailable'
  [(ngModel)]='isCategoryAvailable'
></mat-slide-toggle>
</div>


<div class="slider">
  <ng-container *ngIf="dishes | async as dishes">

    <app-dish-new></app-dish-new>

    <app-dish-item
      *ngFor="let dish of dishes"
      [dish]='dish'
      [isCategoryAvailable]="isCategoryAvailable"
    ></app-dish-item>

  </ng-container>
</div>

</ng-container>
