<h1
  class="title"
>{{categoryName | async }}</h1>

<mat-slide-toggle
  size="small"
  class="catToggle"
  [color]="color"
  [checked]='isCategoryAvailable'
  [(ngModel)]='isCategoryAvailable'
></mat-slide-toggle>
<button
  mat-button
  class="btn_add"
  (click)="createCategory()"
>ADD CATEGORY</button>
<button
  mat-button
  color="warn"
  (click)="removeCategory()"
>REMOVE CATEGORY</button>

<div class="slider">
  <ng-container *ngIf="dishes | async as dishes">

    <app-dish-new></app-dish-new>

    <app-dish-item
      *ngFor="let dish of dishes"
      [dish]='dish'
      [isCategoryAvailable]="isCategoryAvailable"
    ></app-dish-item>

  </ng-container>
</div>

